.project-name{
    border-top-left-radius: 10px;
      height: 15%;
}



@media (max-width:425px) { 
    .single-project{
        .number{
            border-top: none!important
        }
    }
}

@media (max-width:768px) {

}